<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs');%>
<div class="container">
    <h1>Artigos</h1>
    <a href="/admin/articles/new" class="btn btn-success">Novo artigo</a>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Slug</th>
            <th>Categoria</th>
            <th>Acoes</th>
        </thead>
        <tbody>
            <% articles.forEach( article => { %>
               <tr>
                   <td><%= article.id %></td>
                   <td><%= article.name %></td>
                   <td><%= article.slug %></td>
                   <!-- TALVEZ AQUI DÊ PAU (CATEGORy) -->
                   <td><%= article.category.name %></td>
                   <td>
                        <a href="/admin/articles/edit?articId=<%= article.id %>" class="btn btn-warning">
                            Alterar
                        </a>
                       <form action="/admin/articles/delete" method="POST" onsubmit="wannaDelete(event)">
                            <input type="hidden" name="articId" value="<%= article.id %>">
                            <button class="btn btn-danger">
                                Apagar
                            </button>
                       </form>
                   </td>
               </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<%- include('../../partials/footer.ejs'); %>
<script>
    function wannaDelete(event) {
        let categName = event.target.parentElement.parentElement.childNodes[3].innerText;
        
        // Cancelando Submit
        event.preventDefault();

        // Confirmar Exclusao
        if(confirm(`Deseja Deletar a categoria "${categName}"?`))
            event.target.submit();
    }
</script>