<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs');%>
<div class="container">
    <h1 class="my-3">Cadastro de Artigos</h1>
    <form action="/admin/articles/save" method="POST">
        <input class="form-control" type="text" name="articTitle" placeholder="Nome do Artigo">
        <h1 class="my-3">Categoria</h1>
        <select name="categId" class="form-control mb-3">
            <!-- <option value="" disabled hidden selected>Selecione uma Categoria</option>  -->
        <% categResults.forEach(categResult => { %>
                <option class="form-control" value="<%= categResult.id %>"> <%= categResult.name %></option>
                <% }); %>
        </select>
        <textarea name="articText" id="tinymceText" class="form-control" rows="30"></textarea>
        <button class="btn btn-success mt-3" type="submit">Criar</button>
    </form>
</div>
<%- include('../../partials/footer.ejs'); %>

<!-- <script src="../../../public/tinymce/tinymce.min.js"></script> -->
<script src="/tinymce/tinymce.min.js"></script>
<script>
// Configurando tinyMCE
tinymce.init({
    // SELETOR em que o tinyMCE será integrado
    selector: "#tinymceText",
    // LINGUAGEM da interface
    language: 'pt_BR',
    // PLUGINS que adicionaremos no nosso tinyMCE (separados por um espaco dentro de um array)
    plugins: [
        'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen inserdatetime media save table paste'
    ]
    // https://www.tiny.cloud/docs/demo/file-picker/ USAR FILE PICKER PARA ADICIONAR IMAGENS LOCAIS
});
</script>