<%- include('partials/header.ejs') %>
<%- include('partials/navbar-user.ejs') %>
<h1>This Is myBlog</h1>
<%#- JSON.stringify(articles)%>
<div class="card">
    <div class="container card-header">
        <%= article.name%>
    </div>

    <div id="article-body" class="container card-body mb-2">
        <%- article.body%>
    </div>

</div>
<%- include('partials/footer.ejs') %>