<%- include('partials/header.ejs') %>
<%- include('partials/navbar-user.ejs') %>
<h1>This Is myBlog</h1>
<%#- JSON.stringify(articles)%>
<div class="card">
<% articles.forEach( article => {%>
    <div class="container card-header">
        <h2 class="card-title"><%= article.name %></h2>
    </div>

    <div class="container card-body mb-2">
        <a href="/article?slug=<%= article.slug %>" class=" btn btn-success">Ler artigo</a>
    </div>

    <% })%>
</div>
<%- include('partials/pagination.ejs') %>
<%- include('partials/footer.ejs') %>