<%- include('../../partials/header.ejs'); %>
<%- include('../../partials/navbar.ejs');%>
<div class="container">
    
    <table class="table table-striped">
        <thead>
        <th>ID</th>
        <th>Login</th>
        <th>E-mail</th>
    </thead>
    <tbody>
        <% users.forEach(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.login %></td>
                <td><%= user.email %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/admin/users/new" class="btn btn-success"> Criar novo usuário</a>
</div>
<%- include('../../partials/footer.ejs'); %>